{% extends "layout.html" %}

{% block content %}
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	{% for endpoint in endpoints %}
	<li class="{% if loop.first %}active{% endif %}"><a href="#{{ endpoint.name }}" data-toggle="tab">{{ endpoint.name}}</a></li>
	{% endfor %}
	<li class="pull-right"><a id="go-to-custom-types" href="#custom-types" data-toggle="tab">Custom types</a></li>
</ul>
{% if settings.auth %}
<div class="auth-form alert alert-warning alert-dismissable {% if settings.token %}hide{% endif %}">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<div class="auth-error hide"></div>
	<form class="form-inline" action="/auth">
		{% for field in settings.auth.fields %}
		<div class="form-group">
			<label class="sr-only" for="{{ field }}">{{ field }}</label>
			<input class="form-control" name="{{ field }}" type="{% if field == 'password' %}password{% else %}text{% endif %}" placeholder="{{ field }}">
		</div>
		{% endfor %}
		<button class="btn btn-default auth-submit">Login</button>
	</form>
</div>
<div class="auth-success alert alert-success alert-dismissable {% if !settings.token %}hide{% endif %}">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	Token: <span class="token">{{ settings.token }}</span>
</div>
{% endif %}
<div class="tab-content">
	{% for endpoint in endpoints %}
	<div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ endpoint.name }}">
		{% for method in endpoint.methods %}
		<div class="panel panel-default">
			<div class="panel-heading">
				{% if method.auth_required %}
				<i class="glyphicon glyphicon-lock"></i>
				{% endif %}
				<span class="btn btn-default btn-sm pull-right test-endpoint">Try it</span>
				<span class="uri">{{ loop.key|endpoint(endpoint) }}</span>{% if method.description %}:{% endif %} 
				<span class="text-muted">{{ method.description }}</span>
			</div>
			<dl class="list-group">
				{% if method.parameters %}
				<dt class="list-group-item">Parameters:</dt>
				<dd class="list-group-item">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>Key</th>
								<th>Value</th>
								<th>Type</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							{% for parameter in method.parameters %}
							<tr>
								<td>{% if parameter.required %}*{% endif %}</td>
								<td>{{ parameter.name }}</td>
								<td>{{ parameter|value|raw }}</td>
								<td>{{ parameter|type|raw }}</td>
								<td>{{ parameter.description }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</dd>
				{% endif %}
				{% for response in method.responses %}
				<dt class="list-group-item">Response <span="response-code">{{ loop.key }}</span>:</dt>
				<dd class="list-group-item">
					<div class="object">{{ response|object|raw }}</div>
				</dd>
				{% endfor %}
				<dt class="list-group-item hide test-result">
					<i class="glyphicon glyphicon-ok test-result-valid hide"></i>
					<i class="glyphicon glyphicon-warning-sign test-result-invalid hide"></i>
					Results: <span class="response-code"></span>
				</dt>
				<dd class="list-group-item hide test-result">
					<div class="object test-result-data"></div>
					<div class="test-result-error alert alert-danger"></div>
					<div class="test-result-loading"></div>
				<dd>
			</dl>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
	<div class="tab-pane" id="custom-types">
		{% for type in custom_types %}
		{% if not type.inline %}
		<div id="custom-type-{{ loop.key }}" class="panel panel-default">
			<div class="panel-heading">{{ type.name }}</div>
			<div class="panel-body">{{ type.type|object|raw }}</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</dl>

{% endblock %}

{% block js %}
{% parent %}
<script>
	$(document).ready(function() {
		$('.custom-type').click(function(evt) {
			$('#go-to-custom-types').click();
		});
		$('.auth-submit').click(function(evt) {
			evt.preventDefault();
			var params = {};
			$('.auth-form input').each(function() {
				if (this.value) params[this.name] = this.value;
			});
			$.ajax({
				url: '/auth',
				method: 'POST',
				data: params
			}).always(function(data, status, error) {
				if (status == 'success') {
					$('.token').html(data.access_token);
					$('.auth-form, .auth-success').toggleClass('hide');
					if (window.history)
						window.history.pushState({}, '', '?token=' + data.access_token);
				}
				else {
					$('.auth-error').removeClass('hide').html(error);
				}
			})
		});
		$('.test-endpoint').click(function(evt) {
			var endpoint = $(evt.currentTarget).parent().parent();
			var data_el = endpoint.find('.test-result-data').hide();
			var error_el = endpoint.find('.test-result-error').hide();
			var loading_el = endpoint.find('.test-result-loading').show();
			var header = endpoint.find('.test-result').removeClass('hide');
			var response_code = header.find('.response-code').html('');

			var params = {};
			endpoint.find('input').each(function() {
				if (this.value) params[this.name] = this.value;
			});
			var token = $('.token').html();
			
			$.ajax({
				url: '/call',
				method: 'POST',
				data: {
					uri: endpoint.find('.uri').html(),
					params: params,
					token: token
				}
			}).always(function(data, status, error) {
				loading_el.hide();
				response_code.html(data.status);
				if (status == 'success') {
					data_el.show();
					data_el.html(data.data);
					if (data.valid) {
						header.find('.test-result-invalid').addClass('hide');
						header.find('.test-result-valid').removeClass('hide');
					} else {
						header.find('.test-result-valid').addClass('hide');
						header.find('.test-result-invalid').removeClass('hide');
					}
				}
				else {
					error_el.show();
					if (data.responseJSON && data.responseJSON.data)
						error_el.html(data.responseJSON.data);
					else
						error_el.html((error || 'Error') + ': ' + data.responseText);
				}
			});
		})
	});
</script>
{% endblock %}
