<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dragonstone — {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/media/main.css">
		{% block head %}{% endblock %}
	</head>
	<body>
		<div class="{% block container %}container{% endblock %}">{% block content %}{% endblock %}</div>
		{% block js %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>
