.object {
	background-color: white;
	border: 1px solid black;
	padding: 10px;
}

.custom-type, .base-type, .enumerated-type, .response-code, .uri, .verb {
	font-family: monospace;
}
.custom-type {
	cursor: pointer;
	text-decoration: underline;
	color: rgb(100, 100, 200);
}
.base-type, .response-code {
	color: rgb(120, 170, 40)
}
.auth_required {
	float: right;
}

dd.list-group-item  {
	border: 0;
	margin-bottom: 23px;
}
.table {
	margin-bottom: 0;
}

.nav {
	margin-bottom: 20px;
}