.object {
	background-color: white;
	border: 1px solid black;
	padding: 10px;
}

.custom-type, .base-type, .enumerated-type, .response-code, .uri, .verb, .key, .string-value, .boolean-value, .number-value {
	font-family: monospace;
}
.key {
	color: rgb(70, 70, 70);
}
.custom-type {
	text-decoration: underline;
	color: rgb(100, 100, 200);
}
.base-type, .response-code, .enumerated-type {
	color: rgb(120, 170, 40)
}
.auth_required {
	float: right;
}
.boolean-value {
	color: rgb(180, 100, 100);
}
.string-value {
	color: rgb(100, 100, 180);
}
.number-value {
	color: rgb(100, 180, 100);
}

dd.list-group-item  {
	border: 0;
	margin-bottom: 23px;
}
.table, .alert {
	margin-bottom: 0;
}

.nav {
	margin-bottom: 20px;
}
.test-endpoint {
	margin-top: -5px;
	margin-right: -10px;
}
i {
	margin-right: 7px;
}